.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.item {
  border-radius: 50%;
  width: 0.375rem;
  height: 0.375rem;
  opacity: 0.2;
  background: #FFFFFF;
  transition: all 0.3s ease;
}

.active-item {
  opacity: 1;
  width: 0.5rem;
  height: 0.5rem;
}
