.container {
  border-radius: 20.8125rem;
  box-sizing: content-box;
  padding: 0.25rem;
  width: 3.5rem;
  height: 1.5rem;

  transition: background 0.3s ease-in;

  &:before {
    content: "";
    display: block;
    width: 2rem;
    height: 100%;
    border-radius: 20.8125rem;

    transition: background, transform 0.3s ease-in;
  }
}

.checked {
  background: linear-gradient(90deg, #FFF 0%, #92D5FF 100%);

  &:before {
    transform: translateX(1.5rem);
    background: #000;
  }
}

.unchecked {
  background: rgba(0, 0, 0, 0.20);

  &:before {
    transform: translateX(0);
    background: linear-gradient(90deg, #FFF 0%, #92D5FF 100%);
  }
}