.container {
  display: flex;
  gap: 1.625rem;
  align-items: center;
  justify-content: center;
}

.star {
  width: 2rem;
  height: 2rem;
  transition: color 0.3s  ease-in;
}

.unselected-star {
  color: rgba(255, 255, 255, 0.50);
}

.selected-star {
  color: #FCF000;
}