.container {
  position: absolute;
  top: 0.625rem;
  left: 1rem;
  right: 1rem;
}

.top-bar {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.625rem;
}

.assets-and-energy {
  display: flex;
  flex-direction: column;
}

.distance-and-timer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 1.625rem;
}

.distance-progress-bar {
  flex-grow: 1;
}

.bottom-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.close-btn {
  pointer-events: auto;
  align-self: center;
}

