.container {
  position: fixed;
  inset: 0;
  z-index: 7;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  pointer-events: auto;

  font-family: "Jaro Cyrillic", sans-serif;
  color: #FFFFFF;

  background: linear-gradient(145deg, #9D2D32 20.41%, #150101 79.59%);
}

.top-bar {
  margin-bottom: auto;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
}

.exit-btn {
  margin-left: auto;
}

.description {
  font-size: 2rem;
  text-align: center;
}

.bottom-bar {
  margin-top: auto;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem 1.125rem;
}

.refresh-btn {
  width: 100%;
}
