.modal-window {
  pointer-events: auto;

  position: absolute;
  z-index: 6;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, 0);

  box-sizing: border-box;

  width: calc(100% - 2rem);

  padding: 1rem;

  display: flex;
  flex-direction: column;

  border-radius: 2.625rem;
  border: 0.125rem solid rgba(255, 255, 255, 0.20);

  backdrop-filter: blur(1.25rem);

  color: #FFFFFF;
}

.container-blue {
  background: linear-gradient(145deg, rgba(13, 185, 254, 0.40) 20.41%, rgba(42, 155, 255, 0.40) 79.59%);
}

.container-dark-blue {
  background: linear-gradient(180deg, rgba(0, 144, 252, 0.40) 0%, rgba(0, 75, 218, 0.40) 100%);
}

.container-gray {
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.40) 20.41%, rgba(255, 255, 255, 0.40) 79.59%);
}

.container-green {
  background: linear-gradient(180deg, rgba(0, 248, 165, 0.40) 0%, rgba(0, 214, 0, 0.40) 100%);
}

.container-gold {
  background: linear-gradient(180deg, rgba(255, 181, 0, 0.40) 0%, rgba(225, 104, 0, 0.40) 100%);
}

.container-violet {
  background: linear-gradient(180deg, rgba(181, 0, 218, 0.40) 0%, rgba(110, 0, 218, 0.40) 100%);
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 2.625rem;
  border-top-right-radius: 2.625rem;
}

.close-btn {
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
}

.content {
  position: relative;
}

.footer {
  margin-top: auto;
  position: relative;
}
