.modal-window {
  font-family: "Jaro Cyrillic", sans-serif;
  color: #FFFFFF;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.separator {
  margin: 0.75rem 0 1.25rem;
}

.obstacle-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.obstacle {
  display: flex;
  align-items: center;
  gap: 1.1875rem;
}

.obstacle-icon-container {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;


  width: 5rem;
  height: 5rem;

  border-radius: 50%;
  border: 0.1rem solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.20);
}

.obstacle-icon {
  width: 3.9rem;
}

.obstacle-description {
  font-size: 1rem;
}

.got-it-btn {
  margin-top: 2rem;
  width: 100%;
}
