.backdrop {
  pointer-events: auto;

  position: absolute;
  z-index: 5;
  inset: 0;
  background: rgba(0, 0, 0, 0.40);
}

.modal-window {
  pointer-events: auto;

  position: absolute;
  z-index: 6;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, 0);

  box-sizing: border-box;

  width: calc(100% - 2rem);

  padding: 1rem;

  display: flex;
  flex-direction: column;

  border-radius: 2.625rem;
  border: 0.125rem solid rgba(255, 255, 255, 0.20);

  backdrop-filter: blur(1.25rem);

  color: #FFFFFF;

  &:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 11rem;

    background-size: 100% auto;
    background-repeat: no-repeat;

    border-top-left-radius: 2.625rem;
    border-top-right-radius: 2.625rem;
  }
}

.container-blue {
  background: linear-gradient(145deg, rgba(13, 185, 254, 0.40) 20.41%, rgba(42, 155, 255, 0.40) 79.59%);
}

.container-gray {
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.40) 20.41%, rgba(255, 255, 255, 0.40) 79.59%);
}

.container-top-gradient-blue {
  &:before {
    background-image: url("../../../../assets/ellipse-blue.svg");
  }
}

.container-top-gradient-green {
  &:before {
    background-image: url("../../../../assets/ellipse-green.svg");
  }
}

.container-top-gradient-orange {
  &:before {
    background-image: url("../../../../assets/ellipse-orange.svg");
  }
}

.container-top-gradient-gray {
  &:before {
    background-image: url("../../../../assets/ellipse-gray.svg");
  }
}

.sailor-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14rem;
  aspect-ratio: 224 / 232;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.content {
  margin-top: 7.5625rem;
  position: relative;
}

.footer {
  margin-top: auto;
  position: relative;
}
