.container {
  pointer-events: none;
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  top: -4rem;
  transform-origin: center;
  opacity: 0;

  animation: appearance var(--game-start-duration, 2.2s) var(--game-start-easing, ease-in-out) forwards;
  will-change: opacity, transform;
}

.text-art {
  margin-top: -3rem;
}

.paused {
  animation-play-state: paused;
}

@keyframes appearance {
  0% {
    transform: scale(var(--game-start-content-start-scale, 1.35));
    opacity: 0;
  }
  32% {
    transform: scale(var(--game-start-content-visible-scale, 1.05));
    opacity: 1;
  }
  68% {
    transform: scale(var(--game-start-content-fade-out-scale, 0.9));
    opacity: 1;
  }
  100% {
    transform: scale(var(--game-start-content-end-scale, 0.68));
    opacity: 0;
  }
}
